.footer
{
    margin-top: 40px;
    background-color: #111;
    color: #fff;

    .footerTop
    {
        text-align: center;
        padding:40px 20px;

        .logo
        {
            color: rebeccapurple;
        }

        border-bottom: 1px solid whitesmoke;
    }

    .bottom
    {
        padding: 20px;
        .linkAndLang
        {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            ul 
            {
                list-style: none;
                li 
                {
                    &:hover
                    {
                        cursor: pointer;
                    }
                }
            }

            .linkContainer
            {
                display: flex;
                align-items: center;
                line-height: 1.6;
            }
        }

        .lang 
        {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 16px;
            padding: 10px;
            border: 2px solid white;

            &:hover
            {
                cursor: pointer;
            }
        }

        .logoAndDate
        {
            display: flex;
            align-items: center;
            margin-top: 20px;
            justify-content: space-between;

            .footerLogo
            {
                font-size: 40px;
                font-weight: bold;
                color: rebeccapurple;
                cursor: pointer;
            }

            .year
            {
                font-size: 20px;
                cursor: default;
            }
        }
    }
}