.userHero
{
    width: 80%;
    margin: auto;
    background-position: -150px -550px;    background-image: url("../../../assets/Hero.png");
    background-repeat: no-repeat;
    height: 450px;
    display: flex;
    align-items: center;

    .box
    {
        background-color: white;
        margin-left: 20px;
        width: 30%;
        padding: 30px;
        font-size: 14px;

        .desc
        {
            font-size: 20px;
        }
    }
}