.suggestion
{
    width: 80%;
    margin: auto;
    margin-top: 40px;

    .title
    {
        margin-bottom: 5px;
    }

    .container
    {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}