.jobPreview
{
    

    .jobPreviewLeft
    {
        display: flex;
        align-items: center;
        gap: 30px;
        flex: 2;

        .leftContainer
        {
            h3 
            {
                color: #023e8a;
                font-weight: lighter;
                font-size: 30px;
                margin-bottom: 0;
            }
            p 
            {
                margin-top: 5px;
                color: gray;
                font-size: 20px;
            }

            .salaryRange
            {
                color: green;
                font-size: 25px;
                font-weight: bold;
            }

            .jobPreviewCategory
            {
                font-size: 15px;
                background-color: rgba(220, 20, 60, 0.352);
                width: max-content;
                color: red;
                padding:5px 10px;
                font-weight: bold;
                border-radius: 10px;
            }

            .jobApplyBtn
            {
                background-color: #023e8a;
                color: aliceblue;
                border: none;
                padding: 5px 10px;
                font-size: 17px;
                border-radius: 10px;

                &:hover
                {
                    background-color: aliceblue;
                    color: #023e8a;
                    transform: scale(1.01);
                    cursor: pointer;
                    border: 1px solid #023e8a;
                }
            }
        }
    }


    
}